<body>
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <h1><strong>Gamework</strong></h1>
          <h4>Gameworkはゲーミングデバイスのレビューサイトです</h4>
          <div class="btn-wrapper col-12 mx-auto">
            <div class="row">
              <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
            </div>
            <div class="row">
              <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/publics/sign_in">ログイン</a>
            </div>
            <div class="row">
              <a class="btn btn-success btn-sm btn-block sign_up" href="/publics/sign_up">新規登録</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>