<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h5 class="text-center mt-5" style="background-color: #EEEEEE">レビュー覧</h5>
   </div>
 </div>

  <div class="row">
    <div class="col-12 mb-5">
      <table class="table">
          <thead>
              <tr class="bg-light">
                  <th>商品名</th>
                  <th>レビュー</th>
              </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                  <td><%= item.title %></td>
                  <td><%= item.body %></td>
                  <td>
                    <%= link_to '削除', admin_review_path(item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <div><%= paginate @items %></div>
    </div>
  </div>

</div>