<footer class="fixed-bottom bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class='container mt-1'>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
  		<ul class="navbar-nav ml-auto">
        <% if public_signed_in? %>
          <li>
            <%= link_to new_item_path,class: 'nav-link text-light' do %>
              <i></i> 投稿フォーム
            <% end %>
          </li>
          <li>
            <%=  link_to items_path ,class: 'nav-link text-light' do %>
              <i></i> レビュー覧
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> home
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  </nav>
</footer>